<h1>You have {{guessesLeft}} guesses to find the correct word, good luck!</h1>

<div>
    <input type="text" id="playerGuess"><br>
    <button mat-raised-button (click)="submitGuess()">Submit Guess</button>
</div>

<div id="listOfPlayerGuesses" *ngFor="let s of listOfGuesses">
    <span *ngFor="let c of s.characters">
        <span *ngIf="c.correct==='[X]'" style="color: red">{{c.character}}</span>
        <span *ngIf="c.correct==='[Y]'" style="color: orange">{{c.character}}</span>
        <span *ngIf="c.correct===''" style="color: green">{{c.character}}</span>
    </span>
</div>
